*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    // font-family: 'Chakra Petch', sans-serif;
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Michroma', sans-serif;
    background-color: #050828 !important;
    
}