$font-chakra: 'Chakra Petch', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-michroma: 'Michroma', sans-serif;
$btn-color: linear-gradient(124deg,#f95a85,#f70361,#f95420);
$color: #fff;